/* ======================================= Reset margins, paddings & button styling  =======================================*/
* {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
#game-section {
  display: grid;
  grid-template-columns: repeat(30, 20px);
  grid-template-rows: repeat(30, 20px);
  border: 5px solid black;
}
#score-section {
  display: flex;
  font-size: 30px;
  gap: 340px;
}
.snake {
  background-color: black;
}
.food {
  background-color: red;
}

#game-section div {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  font-size: 40px;
}

button {
  width: 40%;
  height: 10%;
  background-color: lightseagreen;
  border-radius: 50px;
  text-align: center;
}
